MONGO_URI="mongodb://username:password@cluster-host-00-00.mongodb.net:27017,cluster-host-00-01.mongodb.net:27017,cluster-host-00-02.mongodb.net:27017/database?ssl=true&replicaSet=atlas-xxxxx-shard-0&authSource=admin&retryWrites=true&w=majority&appName=YourApp"
MONGO_DB_NAME="i-ams"
PORT=4000
VITE_ADMIN_LOGIN_ID="admin@example.com"
VITE_ADMIN_PASSWORD="replace-me"
